//Colors

$off-black: #20222b;
$off-white: #A5Afd7;
$dark-blue: #333745;
$purple: #8357c5;
$blue: #3c4251;
$light-blue: #464b5e;

//Sizes

$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.6rem;
$xl-size: 4.8rem;

  